.vs/
/AbstractFactoryDemo/obj
/AbstractFactoryDemo/bin/Debug/net10.0
/FactoryMethodDemo/bin/Debug/net10.0
/FactoryMethodDemo/obj
/DecoratorDemo/bin/Debug/net10.0
/DecoratorDemo/obj
/BridgeDemo/bin/Debug/net10.0
/BridgeDemo/obj
