.vs/
/AbstractFactory/obj
/AbstractFactory/bin
/FactoryMethod/obj
/FactoryMethod/bin
/Decorator/obj
/Decorator/bin
/Bridge/obj
/BridgeDemo/obj
/Observer/obj
/Interpreter/obj
/Bridge/obj
/Adapter/obj
/Composite/obj
/Facade/obj
/Proxy/obj
/Singleton/obj
/Strategy/obj
/TemplateMethod/obj
/Visitor/obj
/Observer/bin
/Interpreter/bin
/Bridge/bin
/Adapter/bin
/Composite/bin
/Facade/bin
/Proxy/bin
/Singleton/bin
/Strategy/bin
/TemplateMethod/bin
/Visitor/bin